html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

header p {
  max-width: 610px;
  margin: auto;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 8px;
  padding: 0px 20px;
  margin: 50px 0px;
}

main .demo {
  grid-column: 1 / span 12;
}

@media (min-width: 768px) {
  main {
    padding: 0px 48px;
    grid-column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 0px 64px;
    grid-column-gap: 32px;
  }
}

@media (min-width: 1200px) {
  main .demo:nth-child(odd) {
    grid-column: 1 / span 6;
  }

  main .demo:nth-child(even) {
    grid-column: 7 / span 6;
  }
}

.demo .page {
  margin-top: 20px;
  border-radius: 8px;
  background-color: #f2f2f2;
  overflow: hidden;
  font-size: 12px;
}

.demo .page .playground {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.demo .page .control {
  padding: 20px;
  background-color: aliceblue;
}

@media (min-width: 1200px) {
  .demo .page .playground {
    height: 500px;
  }
}

footer {
  text-align: center;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.big-ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.big-square {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.pink {
  background-color: deeppink;
}

.blue {
  background-color: dodgerblue;
}

.green {
  background-color: rgb(20, 215, 144);
}

/* Spring setting */
.spring-setting {
  display: flex;
  flex-direction: column;
}

.spring-setting .field {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.spring-setting .field label {
  display: inline-block;
  width: 90px;
}
