#demo-2 .big-square {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  color: white;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  text-align: center;
}

#demo-2:hover .big-square {
  box-shadow: -8px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
